<head>
	{{ partial "head.html" . }}
	{{ partial "header.html" . }}
	{{ partial "asidebar.html" . }}
</head>
<body>
	<br/>
	<div class="cadreevent">
		<div class="photos">
			<img src="{{.Params.photos}}" width="100%" height="auto" alt="{{ .Title }}">
		</div>
		<div class="eventorganization">
			<h2>{{ .Title }}</h2>
			<h4>Adresse: {{ .Param "address" }} {{ .Param "postalCode" }} {{ .Param "city" }}</h4>
			<h4>{{ .Param "label" }}</h4>
			<h4>Quand: {{ .Param "when" }}</h4>
			<h4>{{ .Param "description" }}</h4>
			<a href="/associations/{{ .Params.association | lower}}">{{ .Params.association }}</a>
		</div>
	</div>
</body>
<footer>
	{{ partial "footer.html" . }}
</footer>
