<div class="eventorganization">
    {{ range (where .Site.RegularPages "Section" "eq" "events").ByParam "when" }}
    {{ if eq .Type "events" }}
    {{ if le (dateFormat "2006 01 02" now) (dateFormat "2006 01 02" .Params.when)}}
    {{ if not .Params.draft }}
    <div class="cadreevent">
        <h2>
            <a href="{{ .Permalink }}">{{ .Title }}</a>
        </h2>
        <h4>{{ dateFormat "02 Jan 06 15:04 -0700" .Params.when }}</h4>
        <h4>{{ .Param "label" }}</h4>
    </div>
    <br/>
    {{ end }}
    {{ end }}
    {{ end }}
    {{ end }}
</div>