<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
</head>
<body>
	<div class ="navbar">
		<a href="/">Accueil</a>
		<a href="/associations">Associations</a>
		<a href="/conseil-municipal">Conseil municipal</a>
		<a href="/calendar">Calendrier</a>
		<div class="dropdown">
			<button class="dropbtn">Evenements
				<i class="fa fa-caret-down"></i>
			</button>
			<div class="dropdown-content">
				<a href="/events">Tous les évènements</a>
				<a href="/futur-events">Futur évènements</a>
				<a href="/past-events">Anciens évènements</a>
			</div>
		</div>
	</div>
</body>
</html>